# .gitignore file
#
# Set up for Microchip/MPLAB X development
#
# John Haroian
# Greg Mzorek
# Updated Oct 6, 2020

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe

# MPLAB X IDE (Netbeans) specific
**/*.X/~*.*
**/*.X/build/
**/*.X/debug/
**/*.X/dist/
**/*.X/disassembly/
**/*.X/nbproject/private/
**/*.X/nbproject/*.mk
**/*.X/nbproject/*.bash
**/*.X/nbproject/Makefile-genesis.properties

# KDE specific
.directory

# Misc
.svn
*.bak
